/********
公共样式*/
label{cursor:pointer;}
.overflow_clear{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}/*css溢出省略*/
html,body{*position:static;}
html{font-family: "微软雅黑";-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset,blockquote,legend{margin:0;padding:0}
body,th,td,button,input,select,textarea{font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";font-size:0.14rem;line-height: 1.4; color: #666;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;resize: none;}
button,h1,h2,h3,h4,h5,h6,input,select,textarea{font-size:100%;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal}
ul,ol,dl,li{list-style-type:none}
div{word-wrap:break-word;}
body{height:100%;max-width:750px;min-width:320px;margin:0 auto;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;border-radius:0;}
input,button{overflow: visible;vertical-align:middle;outline:none}
button,input[type="button"], input[type="submit"] {line-height:normal !important;cursor:pointer;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,em{display: block;}
a{text-decoration:none;color:#666;}a:hover{text-decoration:none;outline:none}a:active{text-decoration: none;outline:none;}a:focus{outline:none;}:focus{outline:none}
table{border-collapse:collapse;border-spacing:0}
input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none;}
textarea {  -webkit-appearance: none;}   
.button{ border-radius: 0; } 
img{border:0;vertical-align:middle}
.tb-fix{table-layout: fixed;empty-cells:show;word-wrap:break-word;}
.fl{ float: left; display: inline;}.fr{ float: right; display: inline;}
.clearfix:after{display:block;content:"clear";height:0;clear:both;visibility:hidden}
.clear{clear:both; font-size: 0; height: 0; line-height: 0;}
input[type="text"]{-webkit-appearance: none;}


/*文字排版、颜色*/
.hide{display:none;}
.red-col{color:#FF0000;}
.blue-col{color:#0F86FF;}
.yellow-col{color:#e29d37;}
.orange-col{color:#ed5e2a;}
.col999{color:#999;}
.col666{color:#666 !important;}
.col333{color:#333 !important;}

.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.f22{font-size:0.22rem !important;}
.fb{font-weight:bold}
.fn{font-weight:normal}
.t2{text-indent:2em}
.red,a.red{color:#cc0031}
.darkblue,a.darkblue{color:#039}
.gray,a.gray{color:#999}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}

/*定位*/
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.vm{vertical-align:middle} 
.pr{position:relative} 
.pa{position:absolute}
.abs-right{position:absolute;right:0}
.zoom{zoom:1} 
.hidden{visibility:hidden} 
.none{display:none}

/*长度高度*/
.auto{width:auto !important;}
.w10{width:0.1rem;}
.w20{width:0.2rem;}
.w50{width:0.5rem;}
.w90{width:0.9rem}
.w100{width:1rem;}
.w120{width:1.2rem;}
.w130{width:1.3rem;}
.w150{width:1.5rem;}
.w200{width:2rem;}
.w230{width:2.3rem!important;}
.w250{width:2.5rem!important;}
.w280{width:2.8rem;}
.w300{width:3rem;}
.w350{width:3.5rem;}
.w400{width:4rem;}
.w420{width:4.2rem;}
.w500{width:5rem;}
.w800{width:8rem;}
.w{width:100%!important; }
.h50{height:0.5rem;}
.h80{height:0.8rem;}
.h100{height:1rem;}
.h200{height:2rem;}
.h300{height:3rem;}
.h{height:100%}

/*边距*/
.mr0{ margin-right: 0!important;}
.mt0{ margin-top: 0!important;}
.ml0{ margin-left: 0!important;}
.mb0{ margin-bottom: 0!important;}
.bl0{ border-left:none !important;}
.br0{ border-right:none !important;}
.bt0{ border-top:none!important;}
.bb0{ border-bottom:none!important;}

.m10{margin:0.1rem;}
.m15{margin:0.15rem;}
.m30{margin:0.3rem;}
.mt5{margin-top:0.05rem;}
.mt10{margin-top:0.1rem;}
.mt15{margin-top:0.15rem;}
.mt20{margin-top:0.2rem;}
.mt30{margin-top:0.3rem;}
.mt40{margin-top:0.4rem;}
.mt50{margin-top:0.5rem;}
.mt100{margin-top:1rem;}
.mb5{margin-bottom:0.05rem;}
.mb10{margin-bottom:0.1rem;}
.mb15{margin-bottom:0.15rem;}
.mb20{margin-bottom:0.20rem;}
.mb100{margin-bottom:1rem;}
.mb50{margin-bottom:0.5rem!important;}
.ml5{margin-left:0.05rem;}
.ml10{margin-left:0.1rem;}
.ml15{margin-left:0.15rem;}
.ml20{margin-left:0.2rem;}
.ml30{margin-left:0.3rem;}
.ml50{margin-left:0.5rem;}
.ml100{margin-left:1rem;}
.mr5{margin-right:0.05rem;}
.mr10{margin-right:0.1rem !important;}
.mr15{margin-right:0.15rem!important;}
.mr20{margin-right:0.2rem!important;}
.mr30{margin-right:0.3rem!important;}
.mr50{margin-right:0.5rem!important;}
.mr60{margin-right:0.6rem!important;}
.mr70{margin-right:0.7rem!important;}
.mr80{margin-right:0.8rem!important;}
.mr100{margin-right:1rem;}
.p10{padding:0.1rem;}
.p15{padding:0.15rem;}
.p30{padding:0.3rem;}
.pt5{padding-top:0.05rem}
.pt10{padding-top:0.1rem;}
.pt15{padding-top:0.15rem;}
.pt20{padding-top:0.2rem;}
.pt30{padding-top:0.3rem;}
.pt50{padding-top:0.5rem;}
.pb5{padding-bottom:0.05rem;}
.pb100{padding-bottom:1rem;}
.pl0{padding-left:0!important ;}
.pl5{padding-left:0.05rem;}
.pl10{padding-left:0.1rem;}
.pl50{padding-left:0.5rem;}
.pl100{padding-left:1rem;}
.pr0{padding-right:0 !important;}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr100{padding-right:100px}
.p20{padding:0.2rem;}
.w-5{width:5%;}
.w-10{width:10%;}
.w-15{width:15%;}
.w-20{width:20%;}
.w-30{width:30%;}
.w-40{width:40%;}
.w-50{width:50%;}
.w-60{width:60%;}
.w-70{width:70%;}
.w-80{width:80%;}
.w-90{width:90%;}



.flex-start{justify-content: flex-start !important;align-items:center;}



















