
/*协议*/
.sign-protocol{
	width: 100%;
}
.sign-hotel-name{
	width: 100%;
	padding: 0 0.26rem;
	height: 0.84rem;
	line-height: 0.84rem;
	font-size: 0.28rem;
	color: #212121;
	background: #fff;
	font-weight: normal;
	margin-bottom: 0.1rem;
}
.sign-form-content{
	width: 100%;
	
}
.sign-form-item{
	width: 100%;
	border-bottom: 1px solid #e6e6e6;
	height: 0.78rem;
	padding:  0 0.14rem;
	background: #fff;
	height: 0.78rem;
	padding: 0.14rem 0.26rem;
	box-sizing: border-box;
}
.sign-form-item em{
	float: left;
	width: 1.4rem;
	text-align: left;
	font-size: 0.28rem;
	color: #212121;
	line-height: 0.5rem;
}
.sign-form-item span{
	float: left;
	height: 0.5rem;
	width: calc(100% - 1.4rem);
}
.sign-form-item span input{
	height: 0.5rem;
	background: none;
	border: none;
	width: 100%;
	font-size: 0.28rem;
	color: #212121;
	
}
.sign-form-type {
	border-bottom: 1px dashed #e6e6e6;
}
.sign-form-type strong{
	display: inline-block;
	height: 0.32rem;
	line-height: 0.32rem;
	font-size: 0.28rem;
	color: #212121;
	font-weight: normal;
	margin-top: 0.09rem;
	margin-right: 0.42rem;
}
.sign-form-type strong i{
	display: inline-block;
	background: url(../../../static/image/check_f_icon.png);
	background-size:100% ;
	width: 0.32rem;
	height: 0.32rem;
	vertical-align: middle;
}
.sign-form-type .on i{
	background: url(../../../static/image/checked_f_icon.png);
	background-size:100% ;
}
.upload-card{
	width: 100%;
	padding: 0 0.26rem;
	background: #fff;
	overflow: hidden;
	margin-bottom: 0.1rem;
}
.upload-card em{
	float: left;
	width: 1.4rem;
	text-align: left;
	font-size: 0.28rem;
	color: #212121;
	line-height: 0.5rem;
}
.upload-card .card-img{
	float: right;
	width: calc(100% - 1.4rem);
	text-align: center;
	padding-top: 0.26rem;
}
 .card-img span{
 	display: block;
 	width: 100%;
 	text-align: center;
 }
 .card-img span img{
 	width: 3rem;
 	height: 2.3rem;
 }
 .card-img span p{
 	line-height: 0.7rem;
 	font-size: 0.24rem;
 	color: #212121;
 }
.sign-btn{
	position: fixed;
	width: 100%;
	height: 1rem;
	background: #ffca00;
	font-size: 0.3rem;
	color: #000;
	text-align: center;
	line-height: 1rem;
	bottom: 0;
	left: 0;
}
.company-sign .upload-card .card-img{
	padding-bottom: 0.26rem;
}
.company-sign .upload-card .card-img img{
	height: 1.7rem;

}

/*充值*/
.recharge-page{
	width: 100%;
}
.balance-content{
	width: 100%;
	height: 3.9rem;
	background: #1a82d2;
	position: relative;
}
.balance-content .title{
	width: 100%;
	text-align: center;
	font-size: .28rem;
	color: #f6fafd;
	line-height: 0.7rem;
	padding-top: 0.4rem;
}
.balance-content .balance{
	width: 100%;
	text-align: center;
	font-size: 0.36rem;
	color: #f6fafd;
	font-weight: 900;
	line-height: 0.8rem;
}
.balance-content .balance em{
	display: inline;
}
.balance-content .user-level{
	font-size: 0.24rem;
	color: #f6fafd;
	text-align: center;
	line-height: 0.66rem;
}
.lately-consume{
	width: 100%;
	height: 0.8rem;
	background: rgba(0,0,0,.4);
	line-height: 0.8rem;
	padding: 0 0.26rem;
	color: #fff;
	font-size: 0.24rem;
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
}
.lately-consume img{
	float: right;
	width: 0.13rem;
	height: 0.24rem;
	margin-top: 0.28rem;
}
.entry-recharge-sum{
	width: 100%;
	margin-bottom: 0.1rem;
	background: #fff;
}
.entry-recharge-sum h3{
	padding: 0 0.26rem;
	box-sizing: border-box;
	line-height: 0.9rem;
	font-size: 0.3rem;
	border-bottom: 1px solid #e6e6e6;
	color: #2f2f2f;
	font-weight: bold;
}
.recharge-input-box span{
	display: block;
	font-size: 0.24rem;
	color: #333333;
	line-height: 0.8rem;
	padding: 0 0.26rem;
	box-sizing: border-box;
}
.recharge-input{
	height: 0.5rem;
	background: #fff;
	padding: 0.35rem 0.26rem;
}
.recharge-input em{
	font-weight: bold;
	font-size: 0.4rem;
	color: #000;
	display: inline-block;
	margin-right: 0.24rem;
	line-height: 0.5rem;
	vertical-align: middle;
}
.recharge-input input{
	width: 3rem;
	height: 0.5rem;
	border: none;
	background: none;
	font-size: 0.4rem;
	vertical-align: middle;
	color: #000;
}
.choose-recharge-sum{
	width: 100%;
	background: #fff;
	padding:0.4rem 0.26rem;
	box-sizing: border-box;
}
.choose-recharge-sum ul{
	width: 100%;
	overflow: hidden;
	margin-bottom: 1rem;
}
.choose-recharge-sum li{
	float: left;
	margin: 0 0.1rem;
	width: calc(33.33% - 0.2rem);
	margin-bottom: 0.2rem;
	text-align: center;
	line-height: 0.8rem;
	background: #f4f4f4;
	border-radius: 6px;
	font-size: 0.24rem;
	color: #222222;
}
.choose-recharge-sum .active{
	background: #1a82d2;
	color: #fff;
}
.recharge-btn{
	width: 70%;
	height: 0.92rem;
	font-size: 0.3rem;
	color: #000;
	margin-left: 15%;
	background: #ffca00;
	border-radius: 6px;
	border: none;
}
.recharge-success{
	position: fixed;
	width: 2.4rem;
	height: 1.9rem;
	background: rgba(0,0,0,.7);
	border-radius: 6px;
	text-align: center;
	padding: 0.44rem 0;
	box-sizing: border-box;
	top: 50%;
	left: 50%;
	margin-left: -1.2rem;
	margin-top: -0.95rem;
}
.recharge-success img{
	width: 0.54rem;
	height: 0.54rem;
}
.recharge-success p{
	line-height: 0.48rem;
	font-size: 0.26rem;
	color: #d4d4d4;
}
/*充值成功*/
.recharge-success-page{
	width: 100%;
	background: #fff;
	text-align: center;
	padding-top: 1.2rem;
	padding-bottom: 1rem;
}
.recharge-success-page img{
	width: 1.1rem;
	height: 1.1rem;
	margin-bottom: 0.2rem;
}
.recharge-success-page i{
	font-style: normal;
}
.recharge-success-page h3{
	font-size: 0.32rem;
	color: #090103;
	line-height: 0.8rem;
}
.recharge-success-page p{
	line-height: 0.4rem;
	font-size: 0.26rem;
	color: #8e8e8e;
}
.recharge-success-page button{
	width: 60%;
	height: 0.9rem;
	font-size: 0.32rem;
	color: #000;
	background: #ffca00;
	border-radius: 6px;
	border: none;
	margin-top: 1rem;
}
/*打扫房间*/
.clean-room{
	width: 100%;
}
.room-type,.room-type ul{
	width: 100%;
	height: 0.8rem;
	background: #fff;
	
}
.room-type li{
	float: left;
	width: 25%;
	text-align: center;
	line-height: 0.8rem;
}
.room-type li a{
	display: block;
	line-height: 0.8rem;
	font-size: 0.28rem;
	color: #333333;
	border-bottom: 2px solid #fff;
}
.room-type li .active{
	border-color:#eb5e29;
	color: #eb5e29;
}
.room-list-content{
	width: 100%;
}
.room-list-content .room-item{
	width: 100%;
	padding:  0 0.26rem;
	box-sizing: border-box;
}
.room-type-name{
	width: 100%;
	line-height: 1rem;
	font-size: 0.28rem;
	color: #999999;
}
.room-list{
	width: 100%;
	overflow: hidden;
}
.room-list li{
	margin: 0 0.05rem;
	width: calc(25% - 0.1rem);
	background: #ffffff;
	border-radius: 4px;
	line-height: 0.9rem;
	text-align: center;
	font-size: 0.28rem;
	color: #000;
	float: left;
	margin-bottom: 0.1rem;
}
.room-list .active{
	background: #ec5f2a;
	color: #fff;
}
.room-clean-status{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.room-clean-status .mark{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	position: absolute;
	top: 0;
	left: 0;
}
.room-clean-status .operation-status{
	position: absolute;
	z-index: 1;
	width: 100%;
	background: #fff;
	bottom: 0;
}
.operation-status h1{
	line-height: 1.5rem;
	text-align: center;
	font-size: 0.3rem;
	color: #959595;
	font-weight: normal;
}
.operation-status p{
	margin-bottom: 0.1rem;
}
.operation-status button{
	width: 95%;
	margin-left: 5%;
	background: #ffca00;
	color: #000000;
	font-size: 0.32rem;
	border-radius: 6px;
	height: 1rem;
	border: none;
}
.operation-status p:nth-of-type(2) button{
	background: #eeeeee;
	color: #ffca00;
}
/*06酒店主页菜单-3积分商城*/

.integral-mall{
	width: 100%;
}
.integral-mall-home{
	width: 100%;
}
.integral-mall-sowing{
	width: 100%;
	height: 2.8rem;
}
.integral-mall-sowing .swiper-container{
	height: 100%;
}
.integral-mall-sowing .swiper-container img{
	width: 100%;
	height: 100%;
}
.integral-mall-sowing .swiper-container-horizontal > .swiper-pagination{
	text-align: center;
}
.integral-mall-sowing .swiper-pagination-bullet{
	width: 0.15rem;
	height: 0.15rem;
	border-radius: 50%;
	background: #0b3255;
}
.integral-mall-sowing  .swiper-pagination-bullet-active{
	width: 0.3rem;
	background: #fb0d2e;
	border-radius: 20px;
}
.mall-top-nav{
	width: 100%;
	background: #fff;
	padding: 0.3rem 0.2rem;
	box-sizing: border-box;
	margin-bottom: 0.26rem;
}
.mall-top-nav-list{
	width: 100%;
	height: 1.32rem;
}
.mall-top-nav-list li{
	float: left;
	width: 25%;
	text-align: center;
}
.mall-top-nav-list li img{
	width: 0.94rem;
	height: 0.94rem;
	border-radius: 50%;
}

.mall-top-nav-list li p{
	line-height: 0.38rem;
	font-size: 0.24rem;
	color: #4d4d4d;
}
.mall-home-notice{
	width: 100%;
	padding: 0 0.2rem;
	line-height: 0.8rem;
	box-sizing: border-box;
	background: #fff;
	overflow: hidden;
	background: #fff;
	position: relative;
	margin-bottom: 0.26rem;
}
.mall-home-notice i{
	width: 1px;
	float: left;
	height: 0.6rem;
	margin-top: 0.1rem;
	background: #e6e6e6;
	margin-right: 0.2rem;
}

.mall-home-notice em{
	float: left;
	width: 0.75rem;
	color: #000;
	font-size: 0.3rem;
	font-weight: bold;
}
.notice-content{
	float: left;
	width: calc(100% - 1.05rem);
}
.mall-home-notice .swiper-message{
	height: 0.8rem;
	line-height: 0.8rem;
	color: #999999;
	font-size: 0.26rem;
}
.mall-home-notice .swiper-message .swiper-slide{
	width: 100%;
	overflow: hidden;
}
.hot-exchange-content{
	width: 100%;
	background: #fff;
	padding: 0 0.2rem;
	box-sizing: border-box;
	margin-bottom: 0.2rem;
}
.hot-exchange-title{
	height: 1.2rem;
	line-height: 1.2rem;
}
.hot-exchange-title em{
	float: left;
	color: #1a1a1a;
	font-size: 0.3rem;
}
.hot-exchange-title span{
	float: right;
	font-size: 0.26rem;
	color: #808080;
	line-height: 1.2rem;
}
.hot-exchange-title span img{
	width: 0.14rem;
}
.hot-exchange-goods{
	width: 100%;
	overflow-x: auto;
}
.exchange-goods-list{
	width: 10rem;
	height: 3.34rem;
}
.exchange-goods-list li{
	float: left;
	height: 100%;
	margin-right: 0.2rem;
	width: 2.7rem;
	text-align: center;
}
.exchange-goods-list li img{
	width: 100%;
	height: 2rem;
	margin-bottom: 0.32rem;
	border-radius:8px;
}
.exchange-goods-list li h4{
	line-height: 0.5rem;
	font-size: 0.28rem;
	color: #f55d12;
}
.exchange-goods-list li p{
	line-height: 0.3rem;
	font-size: 0.26rem;
	color: #a1a1a1;
}
.mall-home-recommend{
	width: 100%;
}
.recommend-title{
	width: 100%;
	text-align: center;
	height: 1rem;
	background: #fff;
}
.recommend-title img{
	height: 1rem;
	width: auto;
}
.goods-list-content{
	width: 100%;
	background: #fff;
}
.goods-list-content .goods-list{
	width: 100%;
	border-top: 1px solid #ebebeb;
}
.goods-list-content .goods-list li{
	float: left;
	width: 50%;
	height: 5rem;
	border-right: 0.01rem solid #ebebeb;
	border-bottom: 0.01rem solid #ebebeb;;
	box-sizing: border-box;
}
.goods-list-content .goods-list li img{
	width: 100%;
	height: 3.7rem;
}
.goods-list-content .goods-list .good-desc{
	height: 1.28rem;
	background: #f8f8f8;
	width: 100%;
}
.goods-list-content .goods-list .good-desc{
	padding: 0.1rem 0.3rem;
	box-sizing: border-box;
}
.goods-list-content .goods-list .good-desc h3{
	line-height: 0.6rem;
	height: 0.6rem;
	font-size: 0.3rem;
	color: #1a1a1a;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.goods-list-content .goods-list .good-desc p{
	line-height: 0.48rem;
	font-size: 0.28rem;
	color: #f55d12;
	width: 100%;
}
.gift-classify-page{
	width: 100%;
}
.mall-search-goods{
	width: 100%;
	height: 0.8rem;
	padding: 0.14rem 0.28rem;
	background: #f5f5f5;
	box-sizing: border-box;
}
.search-goods-input{
	width: 100%;
	height: 100%;
	background: #e5e5e5;
	border-radius: 6px;
	padding: 0 0.2rem;
	box-sizing: border-box;
}
.search-goods-input img{
	float: left;
	width: 0.24rem;	
	height: 0.24rem;
	margin-top: 0.14rem;
	margin-right: 0.14rem;
}

.search-goods-input input{
	width: calc(100% - 0.38rem);
	border: none;
	height: 100%;
	background: none;
	font-size: 0.28rem;
}
.gift-classify-nav{
	width: 100%;
	height: 0.8rem;
	background: #fff;
}

.gift-classify-nav ul{
	width: 100%;
	height: 100%;
}
.gift-classify-nav ul li{
	float: left;
	width: 20%;
	text-align: center;
}
.gift-classify-nav ul a{
	display: inline-block;
	line-height: 0.8rem;
	min-width: 1rem;
	height: 0.8rem;
	box-sizing: border-box;
	border-bottom: 2px solid #fff;
}
.gift-classify-nav ul .active{
	border-bottom: 2px solid #ec5e2a;
	color: #ec5e2a;
}

/*08酒店主页菜单-3积分商城-2详情.html*/
.good-details-share{
	position: absolute;
	width: 0.56rem;
	height: 0.56rem;
	top: 0.28rem;
	right: 0.2rem;
	z-index: 10;
}
.good-details,.good-details-page{
	width: 100%;
}
.good-details-page{
	padding-bottom: 1rem;
}
.good-details-sowing{
	width: 100%;
	height: 5.6rem;
	position: relative;
}
.good-details-sowing .swiper-container{
	height: 100%;
}
.good-details-sowing .swiper-container img{
	height: 100%;
}
.diy-pagination{
	position: absolute;
	bottom: 0.2rem;
	right: 0.3rem;
	z-index: 10000;
}
.diy-pagination span{
	height: 0.32rem;
	padding: 0 0.12rem;
	background:rgba(0,0,0,.6);
	color: #fff;
	border-radius: 10px;
}
.diy-pagination span i{
	font-style: normal;
	font-size: 0.24rem;
	color: #fff;
}
.good-details-desc{
	background: #fff;
	padding: 0 0.26rem;
	box-sizing: border-box;
	padding-top: 0.4rem;
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 0.24rem;
}

.good-details-desc h3{
	line-height: 0.52rem;
	color: #333333;
	font-size: 0.32rem;
	font-weight: normal;
}
.good-details-desc p{
	line-height: 0.46rem;
	font-size: 0.26rem;
	color: #666666;
}
.good-details-desc div{
	height: 0.88rem;
	line-height: 0.88rem;
}
.good-details-desc div em{
	float: left;
	font-size: 0.32rem;
	color: #f55d12;
	margin-right: 0.24rem;
}

.good-details-desc div span{
	float: left;
	font-size: 0.24rem;
	color: #999999;
	text-decoration:line-through;
}
.good-details-desc div a{
	float: right;
	font-size: 0.24rem;
	color: #999999;
}
.good-introduce{
	width: 100%;
}
.good-introduce-title{
	width: 100%;
	height: 0.74rem;
	text-align: center;
	border-bottom: 1px solid #f2f2f2;
	background: #fff;	
}
.good-introduce-title span{
	display: inline-block;
	width: 50%;
	height: 100%;
	border-bottom: 1px solid #f55d12;	
	color: #f55d12;
	font-size: 0.28rem;
	line-height: 0.74rem;
}
.good-introduce-content{
	width: 100%;
	padding: 0.2rem;
	box-sizing: border-box;
	overflow: hidden;
	background: #ffffff;
}
.good-introduce-content img{
	max-width: 100%;
}
.buy-now-btn{
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 1rem;
	text-align: center;
	line-height: 1rem;
	background: #ffca00;
	color: #000;
	font-size: 0.32rem;
}
/*13酒店主页菜单-3积分商城-5-我能兑换的礼品.html*/
.exchange-gift-page{
	width: 100%;
}

.exchange-gift-screen{
	width: 100%;
	height: 1rem;
	background: #fff;
	line-height: 1rem;
}
.exchange-gift-screen li{
	float: left;
	width: 25%;
	text-align: center;
}
.exchange-gift-screen li a{
	display: inline-block;
}
.exchange-gift-screen li span{
	font-size: 0.28rem;
	color: #999999;
	font-size: 0.28rem;
}
.exchange-gift-screen li img{
	width: 0.14rem;
	height: 0.08rem;
}
.exchange-gift-screen .active span{
	color: #ea5e29;
}
.integral-value i{
	display: inline-block;
	height: 0.2rem;
	width: 0.14rem;
}
.integral-value i img{
	display: block;
	margin-bottom: 0.03rem;
}


/*积分变化记录*/
.integral-change-log{
	width: 100%
}
.integral-change-search{
	width: 100%;
	height: 1rem;
	background: #fff;
	z-index: 1;
	position: fixed;
	top: 0;
	padding: 0 0.3rem;
	box-sizing: border-box;
}
.integral-change-search .active span{
	color: #ec5f2a;
}
.integral-change-screen{
	float: left;
	width: 1.4rem;
	text-align: left;
	line-height: 1rem;
}
.integral-change-screen span{
	font-size: 0.3rem;
	color: #999999;
	margin-right: 0.1rem;
}
.integral-change-screen img{
	width: 0.14rem;
	height: 0.0.8rem;
	margin-top: -0.05rem;
}
.change-search{
	float: left;
	height: 0.52rem;
	border-radius: 6px;
	background: #e5e5e5;
	width: calc(100% - 1.4rem);
	padding: 0 0.2rem;
	margin-top: 0.24rem;
	box-sizing: border-box;
}
.change-search img{
	float: left;
	width: 0.24rem;
	height: 0.24rem;
	margin-right: 0.14rem;
	margin-top: 0.14rem;
}
.change-search input{
	border: none;
	background: none;
	float: left;
	color: #999999;
	font-size: 0.26rem;
	height: 100%;
}
.log-list{
	width: 100%;
	padding-top: 1rem;
}
.log-list ul{
	width: 100%;
	
	background: #fff;
	box-sizing: border-box;
}
.log-list li{
	padding: 0.16rem 0.2rem;
	overflow: hidden;
	position: relative;
	
	border-top: 1px solid #ebebeb;
}
.log-list li img{
	-float: left;
	width: 0.5rem;
	height: 0.5rem;
	-margin-right: 0.16rem;
	position: absolute;
	left: 0.2rem;
	top: 50%;
	margin-top: -0.25rem;
}
.log-list li .consume-msg{
	float: left;
	margin-left: 0.65rem;
	font-size: 0.26rem;
	color: #333;
	line-height: 0.4rem;
	width: calc(100% - 2.1rem);
}
.log-list li span{
	-float: right;
	width: 1.4rem;
	height: 0.5rem;
	line-height: 0.5rem;
	position: absolute;
	right: 0.2rem;
	top: 50%;
	margin-top: -0.25rem;
	text-align: right;
	color: #343434;
	font-size: 0.28rem;
}
.integral-screen-term{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}
.integral-screen-term .mark{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 1rem;
	left: 0;
	background: rgba(0,0,0,.6);
}
.integral-screen-term .term-list{
	width: 100%;
	background: #fff;
	position: absolute;
	top: 1rem;
}

.integral-screen-term .term-list li{
	color: #ec5e2c;
	font-size: 0.28rem;
	text-align: center;
	line-height: 0.8rem;
	border-top: 1px solid #ebebeb;
}

.order-confirm-page .sign-form-type{
	height: 1rem;
	border-bottom: 1px solid #d7d7d7;
	padding: 0.25rem 0.2rem;
}
.order-confirm-page .sign-form-type em{
	font-size: 0.28rem;
	color: #666666;
}

.receiving-address-area{
	width: 100%;
	background: #fff;
	padding: 0.3rem 0.6rem;
	box-sizing: border-box;
	border-bottom: 1px solid #d7d7d7;
}
.receiving-address-area .consignee{
	height: 0.44rem;
	line-height: 0.44rem;
	color: #666666;
	font-size: 0.26rem;
	font-weight: normal;
}
.receiving-address-area .consignee i{
	font-style: normal;
}
.receiving-address-area p{
	line-height: 0.4rem;
	font-size: 0.28rem;
	color: #666666;
}
.order-confirm-good{
	width: 100%;
	background: #fff;
	padding: 0.2rem;
	box-sizing: border-box;
	border-bottom: 1px solid #d7d7d7;
	overflow: hidden;
}
.order-confirm-good img{
	float: left;
	width: 1.9rem;
	height: 1.9rem;
	margin-right: 0.15rem;
}
.order-confirm-good .confirm-good-desc{
	float: left;
	width: calc(100% - 2.05rem);
}
.confirm-good-desc h3{
	font-size: 0.32rem;
	color: #000;
	line-height: 0.4rem;
}
.confirm-good-desc span{
	display: block;
	line-height: 0.34rem;
	color: #666666;
	font-size: 0.26rem;
}
.confirm-good-desc p{
	line-height: 0.7rem;
	height: 0.7rem;
}
.confirm-good-desc a{
	font-size: 0.32rem;
	color: #f55d12;
	margin-right: 0.2rem;
}
.confirm-good-desc i{
	font-size: 0.24rem;
	color: #999999;
	text-decoration: line-through;
}
.confirm-good-desc em{
	float: right;
	font-size: 0.28rem;
	color: #999999;
	line-height: 0.7rem;
}
.distribution-mode{
	width: 100%;
	background: #fff;
	height: 0.8rem;
	line-height: 0.8rem;
	padding: 0 0.2rem;
	box-sizing: border-box;
	margin-bottom: 0.2rem;
}
.distribution-mode span{
	float: left;
	font-size: 0.28rem;
	color: #666666;
}
.distribution-mode a{
	float: right;
}
.distribution-mode a img{
	width: 0.16rem;
	height: 0.25rem;
}
.buyer-msg{
	width: 100%;
	background: #fff;
	padding: 0 0.2rem;
	box-sizing: border-box;
	overflow: hidden;
	border-bottom: 1px solid #d7d7d7;
}
.buyer-msg p{
	line-height: 0.8rem;
	font-size: 0.28rem;
	color: #666666;
	float: left;
	width: 1.4rem;
	
}
.buyer-msg input{
	width: calc(100% - 1.4rem);
	border-radius: 6px;
	border: 1px solid #ddd;
	padding: 0.1rem;
	box-sizing: border-box;
	float: left;
	height: 0.8rem;
	border: none;
	
}
.order-confirm-btn{
	position: fixed;
	width: 100%;
	height: 1rem;
	bottom: 0;
	padding-left: 0.6rem;
	box-sizing: border-box;
	background: #fff;
	border-top: 1px solid #d7d7d7;
}
.order-confirm-btn span{
	line-height: 1rem;
	font-size: 0.3rem;
	color: #333333;
}
.order-confirm-btn em{
	display: inline;
}
.order-confirm-btn span i{
	color: #f55d12;
	font-style: normal;
}
.order-confirm-btn button{
	float: right;
	height: 1rem;
	width: 2.7rem;
	background: #ffca00;
	color: #000;
	font-size: 0.3rem;
	border: none;
}
